In [ ]:
#Задание 1
#Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

In [1]:
import numpy as np

In [2]:
n = 12
x = np.arange(n)
np.array(list(reversed(x)))

array([11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

In [28]:
p = 12
rez=[]
for i in range(p-1,-1,-1):
    rez.append(i)
a=np.array(rez)
a

array([11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1,  0])

In [3]:
#Задание 2
#Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [4]:
z = np.diag(np.arange(9))
z

array([[0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 2, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 3, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 4, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 5, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 6, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 7, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 8]])

In [5]:
z.sum()

36

In [32]:
sum(z[i][i] for i in range(9))

36

In [ ]:
#Задание 3
#Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было 
#выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [68]:
dat = pd.read_csv('ratings.csv')

In [69]:
rating_five = dat[ dat['rating']==5]

In [67]:
rating_five['movieId'].value_counts().head(1)

318    31896
Name: movieId, dtype: int64

In [ ]:
#Задание 4
#По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 
#за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
data = pd.read_csv('power.csv')

In [6]:
filtered_countries = data[ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia') ]

In [9]:
filtered_categories = filtered_countries[ (filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21) ]

In [21]:
filtered_years = filtered_categories[ ((2005 < filtered_categories['year']) & (filtered_categories['year'] < 2010)) ]

In [36]:
filtered_years.groupby(by=['country'])['quantity'].sum().sort_values(ascending=False)

country
Lithuania    86442.0
Estonia      42184.0
Latvia       35860.0
Name: quantity, dtype: float64

In [ ]:
#Задание 5
#Решите систему уравнений:
#4x + 2y + z = 4
#x + 3y = 12
#5y + 4z = -3

In [34]:
from numpy import linalg

In [36]:
a = np.array([[4,2,1],
            [1,3,0],
            [0,5,4]])

b = np.array([4,12,-3])

In [37]:
linalg.solve(a,b)

array([ 0.46666667,  3.84444444, -5.55555556])

In [40]:
np.allclose(np.dot(a,linalg.solve(a,b)),b)

True